body {
    background-image: url("../images/background.png");
    background-size: cover;
}
h4 {
    background-color: #FCD000;
    color: #ffffff;
}
.hidden {
    visibility: hidden;
}
.char-choice {
    cursor: pointer;
}
.card-img-custom {
    width: 150px;
    height: auto;

}
.popover{
    background-color:#FDFCC8;
}
#player-name, #player-footer {
    background-color: #3DCF87;
    color: #ffffff;
}
#defender-header, #defender-footer {
    background-color: #AA0000;
    color: #ffffff;
}