body {
    background-image: url("../images/background.png");
    background-size: cover;
}
.hidden1, .hidden2, .hidden3, .hidden4, .hidden5 {
    visibility: hidden;
}
.char-choice {
    cursor: pointer;
}
.card-img-custom {
    width: 150px;
    height: auto;
}