body {
    background-image: url("../images/background.png");
    background-size: cover;
}
.hidden {
    visibility: hidden;
}
.char-choice {
    cursor: pointer;
}
.card-img-custom {
    width: 150px;
    height: auto;
}